body {
	width:960px;
	height:960px;
	background-color:#e0e0e0;
}
#man {
	margin: 50px 30%;
}

/* ---------- HEAD ------------*/

#head {
	position: relative;
}
#hair { 
	width: 86px; 
	height: 5px; 
	padding-top: 15px; 
	position: absolute; 
	background: #5e3903; 
	color: white; 
	font-size: 11px; 
	letter-spacing: 0.2em; 
	text-align: center; 
	text-transform: uppercase; 
	z-index: 1000;
	-moz-border-radius: 84px 88px 8px 18px; 
	-webkit-border-radius: 84px 88px 8px 18px; 
	border-radius: 84px 88px 8px 18px;
} 
#hair:after { 
	content: ""; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 0; 
	height: 0; 
	border-bottom: 13px solid #ffd291; 
	border-left: 64px solid transparent; 
	border-right: 23px solid transparent; 
}

#face { 
	display:block; 
	width: 87px; 
	height: 72px; 
	background-color: #ffd291; 
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px; 
	border-radius: 68% 68% 68% 68% / 60% 60% 40% 40%; 
	position:relative;
} 

#eyeL, #eyeR { 
	width: 20px; 
	height: 10px; 
	background: #ffffff; 
	-moz-border-radius: 100px / 50px; 
	-webkit-border-radius: 100px / 50px; 
	border-radius: 100px / 50px;
	position:absolute;
	display:block;
} 
#eyeL::before, #eyeR::before { 
	content: "";
    position: absolute;
	top:0;
	left:6px;
	width: 10px; 
	height: 10px; 
	background: #995b04; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	position:absolute;
	display:block;
}  
#eyeL::after, #eyeR::after { 
	content: "";
    position: absolute;
	top:2px;
	left:8px;
	width: 6px; 
	height: 6px; 
	background: #000000; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	position:absolute;
	display:block;
} 

#eyeL {
	top:30px; left:15px;
}
#eyeR {
	top:30px; right:15px;	
}

#mouth {
    border-style: solid;
    border-color: transparent transparent #f5955b transparent;
    border-width: 0 2px 4px;
    height: 0;
    width: 27px;
    position: absolute;
	top:33px;
	left:30px;
    margin: 20px 0 50px 0;
}
#mouth:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #f5955b transparent transparent transparent;
    border-width: 7px 15px 0 15px;
}

#earL, #earR {
	position:absolute;
	top: 37px;
	background-color: #ffd291;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
#earL {
	left:-5px;
}
#earR {
	left: 83px;
}

#teeth {
	height: 6px;
    left: 31px;
    position: absolute;
    top: 42px;
    width: 30px;
    z-index: 100;
}
#teeth ul {
	height: 6px;
    width: 30px;
    z-index: 100;
	padding:0;
	margin:0;
}
#teeth ul li {
	background:#ffffff;
	height: 3px;
	margin: 1px;
	width:5px;
	display:inline-block;
	list-style-type:none;
	line-height: 0;
}
#glass {
    position: absolute;
	top:24px;
}
#glassL, #glassR {
	border: 4px solid #000000;
    height: 15px;
    position: absolute;
    width: 22px;
	
}
#glassL {
	left: 11px;
}
#glassR {
	left: 48px;
}
#glassL:after, #glassL:before, #glassR:after, #glassR:before {
    border: 3px solid #000000;
    content: "";
    height: 0;
    position: absolute;
    top: 2px;
    width: 7px;	
}
#glassL:after, #glassR:after {
    right: -13px;
}
#glassL:before, #glassR:before {
    left: -13px;
}

/* ---------- /HEAD ------------*/
/* ---------- BODY ------------*/

#body {
	position:relative;
}

#neck {
	background-color: #ffd291;
    display: block;
    height: 8px;
	left: 37px;
    position: relative;
    width: 16px;
}
#neck:after {
    border-color: #ffd291 transparent transparent;
    border-style: solid;
    border-width: 18px 11px 0;
    content: "";
    height: 0;
    left: -3px;
    position: absolute;
    top: 8px;
    width: 0;
	z-index: 100;
}

#torso {
	position:relative;
	display: block;
	width: 100px;
	height: 94px;
	background-color: #a0e2f3;
	left: -6px;
	border-radius: 8px;
}
#torso:after, #torso:before {
	content: "";
	position: absolute;
	top: 1px;
	width:0;
	height:0;
    border-style: solid;
}
#torso:after {
	border-color: transparent #a0e2f3 #a0e2f3 transparent;
    border-width: 16px 29px 14px 2px;
	left: -27px;
}
#torso:before {
	border-color: transparent transparent #a0e2f3 #a0e2f3;
    border-width: 14px 2px 16px 29px;
	right:-27px;
}

#collar {
	border-color: #d8e7f3 #d8e7f3 transparent;
    border-style: solid;
    border-width: 9px 18px 8px;
    content: "";
    height: 0;
    left: 27px;
    position: absolute;
    top: 8px;
    width: 0;
}
/* ---------- /BODY ------------*/
